* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 1240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    width: 1240px;
    height: 60px;
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/* HERO */
.hero {
    width: 1240px;
    height: 400px;
    background: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
}

.hero-info {
    width: 450px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 12px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

.hero-img img{
    width: 300px;
    border-radius: 50%;
    border: 5px solid #E5E7EB;
}

button {
    background: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
}

/* INFO */

.info {
    width: 1240px;
    height: 400px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.info-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.skills {
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.skill-img {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
}

.skill-text {
    text-align: center;
}

/* QUOTE */
.quote { 
    width: 1240px;
    height: 500px;
    background: #E5E7EB;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}